/* GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
}
body{
    background: #6e6e6e;
    transition: background-color 0.5s ease;
}
.flex{
    display: flex;
}
h2.titulo{
    color: white;
    font-size: 38px;
    text-align: center;
}
h2.titulo span{
    color: #00FF08;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    /* border: 2px solid black; */
}
/* HEADER */
.menu-lateral{
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: #34495e;
    z-index: 3;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.menu-lateral.ativo{
    left: 0;
}
.menu-lateral ul{
    list-style: none;
    padding: 0;
    margin-top: 60px;
}
.menu-lateral ul li{
    padding: 15px 30px;
}
.menu-lateral ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.menu-lateral ul li a i{
    font-size: 24px;
}
.menu-lateral ul li:hover{
    background-color: #01916d;
}
.menu-lateral ul li a i:hover{
    transform: translateX(5px) rotate(5deg);
}
.toggle{
    background-color: #00ca76;
    color: white;
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 4;
    border-radius: 5px;
    font-size: 24px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.toggle:hover{
    background-color: #01916d;
}
.toggle.ativo{
    left: 320px;
}
.conteudo{
    /* margin-left: 40px;
    padding: 40px; NÂO DESCOMENTAR ESSA BAGAÇA */
    transition: all 0.5s;
}
.conteudo.ativo{
    margin-left: 300px;
    background-color: #34495e;
    color: white
}
.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 2;
}
.background.ativo{
    opacity: 1;
    visibility: visible;
}
/* SECTION INICIO */
section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.topo-do-site h1{
    color: white;
    font-size: 42px;
    line-height: 40px;
    margin-bottom: 30px;
}
.topo-do-site .text-topo-site h1 span{
    color: #00FF08;
    font-size: 32px;
    display: block;
}
.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}
@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}
/* SECTION SOBRE */
.sobre .flex{
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 60px;
}
.sobre .txt-sobre{
    color: white;
}
.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}
.sobre, .txt-sobre h2 span{
    color: #00FF08;
    display: block;
}
.sobre, .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}
.sobre, .txt-sobre p{
    color: white;
    font-weight: 600;
}
/* SECTION COMMANDS */
section#commands{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.card-contianer{
    perspective: 1000px;
}
.card{
    background-color: #353333;
    border-radius: 30px;
    border: 2px solid #FF00d4;
    width: 288px;
    height: 373px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    cursor: pointer;
    display: inline-block;
    margin: 10px;
}
.card.virado{
    transform: rotateY(180deg);
}
.front, .back{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    gap: 10px;
    color: white;
}
.back{
    transform: rotateY(180deg);
}
.back p{
    text-align: center;
}
